visionqa_env/
__pycache__/
*.pyc

/Inspecciones/
registro_inspecciones.csv

# Variables de entorno
.env

# Base de datos local de Django
backend/db.sqlite3

# Reportes generados
*.xlsx

# Caché de YOLO
*.cache

# Archivos temporales
.DS_Store

runs/
# Modelos y pesos generados
yolov8n.pt
*.pt
!modelo IA/yolo/
modelo IA/yolo/*
!modelo IA/yolo/visionqa_yolo_v3_best.pt
# Datos de entrenamiento y validación pesados
dataset_yolo_v2/imagenes_reentrenamiento/
dataset_yolo_v2/imagenes_validacion_yolo/
dataset_yolo_v2/images/
dataset_yolo_v2/labels/

